{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-order"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "rules": {
    "selector-class-pattern": null
  },
  "ignoreFiles": ""
}